form {
    text-align: center !important;
    padding: 15px;
}

label {
    width: 10rem;
    text-wrap: wrap;
}

input, textarea {
    width: 15rem;
}

.contact-icon {
    width: 2rem;
    margin: 0.5rem;
}

.contact-span {
    padding: 0 1rem 0 1rem;
}

.contact-card {
    background-color: white !important;
}