.contacts-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-span {
    display: flex;
    align-items: center;
}

.contact-icon {
    width: 2rem;
    margin: 0.5rem;
}

.contact-span {
    padding: 0 1rem 0 1rem;
}

.contact-card {
    background-color: white !important;
}
