/* Ensure the navbar spans full width */
.navbar-wrapper {
    width: 100%;
    padding: 10px 20px; /* Add some padding for spacing */
}

  /* Logo Styling */
.logo-pic {
    max-height: 150px; /* Adjust height as necessary */
    width: auto;
}

  /* Align the nav list to the right */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px; /* Space between the links */
    font-size: 1.1rem;
}

.nav-link {
    color: black !important;
}

.active {
    color: purple !important;
}

/* Title next to the logo */
.name-title {
    font-size: 1.5rem;
    margin: 0;
    color: #75107e; /* Adjust color as needed */
  }