.nav {
    background-color: rgb(224, 223, 223);
}

.nav-item {
    margin: 0 20px 0 20px;
    background-color: rgb(69, 140, 182);
    border-radius: 8%;
}

.nav-link {
    color: rgb(253, 253, 253) !important;
}

.active {
    background-color: rgb(0, 0, 0) !important;
    border-radius: 8%;
}