.card-picture {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 20px auto; /* Add margin and center card */
}

.profile-pic {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 50%; 
}