@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --bs-body-font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* Primary Colors */
    --primary-purple: #75107E;
    --hover-purple: #D58BDD;
    --seethrough-purple: #9e57b4d8;
  
    /* Accent Colors */
    --accent-orange: #FFA345;
    
    /* Neutral Colors */
    --text-dark: #333333;
    --white: #F5F5F5;
    --background-transparent: rgba(117, 16, 126, 0);
}

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  border: none;
  background-color: white;
  margin: 2rem;
}

.card-title {
  font-weight: 700;
}

.main-content {
  padding-top: 60px;
}

.project-type {
  color:var(--text-dark);
}