:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  border: none;
  background-color: rgb(241, 241, 241);
  margin: 2rem;
  box-shadow: 3px 3px 6px rgba(162, 162, 162, 0.865);
}

.card-body {
  max-width: 100%;
  flex: none;
}

.card-title {
  font-weight: 700;
}

.main-content {
  padding-top: 60px;
}

h1 {
  color: rgb(69, 140, 182);
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53babc;
}

.project-type {
  margin-top: 2rem;
}