@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --bs-body-font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.card {
  border: none;
  background-color: white;
  margin: 2rem;
}

.card-title {
  font-weight: 700;
}

.main-content {
  padding-top: 60px;
}

h1 {
  color: rgb(69, 140, 182);
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #53babc;
}